<template>
  <div class="posts jumbotron jumbotron-fluid">
    <h1>Cast Ballot</h1>
    <input type="radio" id="one" value="Republican" v-model="picked">
    <label for="one">Donald Trump (Republican)</label>
    <br>
    <input type="radio" id="two" value="Democrat" v-model="picked">
    <label for="two">TBA (Democratic)</label>
    <br>
    <input type="radio" id="two" value="Green" v-model="picked">
    <label for="two">TBA (Green Party)</label>
    <br>
    <input type="radio" id="two" value="Independent" v-model="picked">
    <label for="two">TBA (Independent)</label>
    <br>
    <input type="radio" id="two" value="Libertarian" v-model="picked">
    <label for="two">TBA (Libertarian)</label>
    <br>
    <br>
    <span v-if="picked">
      Picked:
      <b>{{ picked }}</b>
    </span>
    <br>
    <br>
    <!--span><b>{{ response }}</b></span><br /-->
    <div class="container">
      <form v-on:submit="castBallot">
        <!-- <input type="text" value="2sww593dc034wb2twdk91r" v-model="input.electionId"  >
        <br>-->
        <input class="form-control" type="text" v-model="input.voterId" placeholder="Enter VoterId">
        <br>
        <input class="btn btn-success" type="submit" value="Cast Vote">
        <br>
      </form>
    </div>
    

    <br>
    <span v-if="response">
      <b>{{ response }}</b>
    </span>
    <br>
    <vue-instant-loading-spinner id="loader" ref="Spinner"></vue-instant-loading-spinner>
  </div>
</template>

<script>
import PostsService from "@/services/apiService";
import VueInstantLoadingSpinner from "vue-instant-loading-spinner/src/components/VueInstantLoadingSpinner.vue";

export default {
  name: "response",
  data() {
    return {
      input: {},
      picked: null,
      response: null
    };
  },
  components: {
    VueInstantLoadingSpinner
  },
  methods: {
    async castBallot() {
      await this.runSpinner();

      const electionRes = await PostsService.queryWithQueryString('election');

      let electionId = electionRes.data[0].Key;

      console.log("picked: ");
      console.log(this.picked);
      console.log("voterId: ");
      console.log(this.input.voterId);
      this.response = null;

 

      //error checking for making sure to vote for a valid party
      if (this.picked === null ) {
        console.log('this.picked === null')

        let response = "You have to pick a party to vote for!";
        this.response = response;
        await this.hideSpinner();
      
      } else if (this.input.voterId === undefined) {
        console.log('this.voterId === undefined')

        let response = "You have to enter your voterId to cast a vote!";
        this.response = response;
        await this.hideSpinner();

      } else {

        const apiResponse = await PostsService.castBallot(
          electionId,
          this.input.voterId,
          this.picked
        );

        console.log('apiResponse: &&&&&&&&&&&&&&&&&&&&&&&');
        console.log(apiResponse);

        if (apiResponse.data.error) {
          this.response= apiResponse.data.error;
          await this.hideSpinner();
        } else if (apiResponse.data.message) {
          this.response= `Could not find voter with voterId ${this.input.voterId}
            in the state. Make sure you are entering a valid voterId`;
          await this.hideSpinner();
        } 
        else {
          let response = `Successfully recorded vote for ${this.picked} party 
            for voter with voterId ${apiResponse.data.voterId}. Thanks for 
            doing your part and voting!`;

          this.response = response;

          console.log("cast ballot");
          console.log(this.input);
          await this.hideSpinner();
        }
      }
    },
    async runSpinner() {
      this.$refs.Spinner.show();
    },
    async hideSpinner() {
      this.$refs.Spinner.hide();
    }
  }
};
</script>
