<template>
  <div class="posts jumbotron jumbotron-fluid">
    <h1>Voting <span class="text-info font-weight-bolder" >{{appName}}</span> DApp</h1>
    <!-- <h3 class="warning">Please Login</h3> -->
    <!--span><b>{{ response }}</b></span><br /-->
    <div class="container">
      <h3 class="warning">Please Login</h3>
      <form v-on:submit="validateVoter">
        <div class="input-group mb-3">
          <input type="text" class="form-control" v-model="loginData.voterId" placeholder="Enter userId">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
        <br>
        <br>
        <span v-if="loginResponse" >
          <b v-bind:class="loginResponse.data.error?'text-danger':'text-info'">{{ loginResponse.data.error?loginResponse.data.error:loginResponse.data }}</b>

          
        </span>
        <br>
      </form>
      
    </div>
 

    <br>
    <h3>Otherwise, fill out the form below to register!</h3>
    <div class="container">
      <form v-on:submit="registerVoter">
        <div class="input-group mb-3">
          <input type="text" class="form-control" v-model="registerData.voterId" placeholder="Enter your unique Id">
        </div>
       
        <!-- <input type="text" v-model="registerData.registrarId" placeholder="Enter Registrar ID"> -->
     
        <div class="input-group mb-3"> <input type="text" class="form-control" v-model="registerData.firstName" placeholder="Enter first name"></div>
        <div class="input-group mb-3"> <input type="text" class="form-control" v-model="registerData.lastName" placeholder="Enter last name"></div>
        
       
       
        <br>
        <input class="btn btn-success" type="submit" value="Register">
      </form>
    </div>
    
    <br>
    <span v-if="registerReponse">
     
      <b class="text-danger">{{ registerReponse.data }}</b>
    </span>
    <br>
    <vue-instant-loading-spinner id='loader' ref="Spinner"></vue-instant-loading-spinner>
  </div>
</template>
<style>
  /* .info{color:#2c3e50;}
  .warning{color:orange;}
  .danger{color:red;} */
</style>

<script>
import PostsService from "@/services/apiService";
import VueInstantLoadingSpinner from "vue-instant-loading-spinner/src/components/VueInstantLoadingSpinner.vue";
const config = require('../config/config.js');
export default {
  name: "response",
  data() {
    return {
      appName:`${global.gConfig.app_name}`,
      loginData: {},
      registerData: {},
      registerReponse: {
        data: ""
      },
      loginResponse: {
        data: ""
      }
    };
  },
  components: {
    VueInstantLoadingSpinner
  },
  methods: {
    async registerVoter() {

      await this.runSpinner();
      const apiResponse = await PostsService.registerVoter(
        this.registerData.voterId,
        // this.registerData.registrarId,
        this.registerData.firstName,
        this.registerData.lastName
      );

      console.log(apiResponse);
      this.registerReponse = apiResponse;
      await this.hideSpinner();
    },

    async validateVoter() {
      await this.runSpinner();
      console.log("validate voter")

      if (!this.loginData.voterId) {
        // if the user id is not enter
        console.log("!thislogin");
        let response = 'Please enter a VoterId';
        this.loginResponse.data = response;
        
        await this.hideSpinner();
      } else {
        const apiResponse = await PostsService.validateVoter(
          this.loginData.voterId
        );
        console.log("apiResponse");
        console.log(apiResponse.data);

        if (apiResponse.data.error) {
         
          console.log(apiResponse.data.error);
          this.loginResponse = apiResponse.data.error;
        } else {
          this.$router.push("castBallot");
        }

        
        this.loginResponse = apiResponse;
        // this.$router.push('castBallot')
        await this.hideSpinner();
      }
    },
    async runSpinner() {
      this.$refs.Spinner.show();
    },
    async hideSpinner() {
      this.$refs.Spinner.hide();
    }
  }
};
</script>
